button a{
    text-decoration: none;
}

.forms{
    width: 100%;
    background-color: #d7d7d7;
}
.hasil{
    width: 100%;
    background-color: #d7d7d7;
}

.store img{
    width: 120px;
    height: 35px;
}